POLYGON_API_KEY='add your api key'
MYSQL_USERNAME= 'add mysql_username'
MYSQL_PASSWORD= 'add mysql_password!'
MYSQL_HOST= 'add host'
MYSQL_PORT= 'add port'
MYSQL_DATABASE= 'database-name'
WORKING_DIR='working_dir'
EMAIL = "the email address you want to send to"
PASSWORD = "your google app password "