[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
attrs = "==19.3.0"
automat = "==0.8.0"
beautifulsoup4 = "==4.12.2"
blinker = "==1.4"
certifi = "==2019.11.28"
chardet = "==3.0.4"
charset-normalizer = "==3.3.2"
click = "==7.0"
cloud-init = "==23.3.1"
colorama = "==0.4.3"
command-not-found = "==0.3"
configobj = "==5.0.6"
constantly = "==15.1.0"
cryptography = "==2.8"
dbus-python = "==1.2.16"
distro = "==1.4.0"
distro-info = "==0.23+ubuntu1.1"
docopt = "==0.6.2"
entrypoints = "==0.3"
exchange-calendars = "==4.2.8"
frozendict = "==2.3.8"
greenlet = "==3.0.1"
html5lib = "==1.1"
httplib2 = "==0.14.0"
hyperlink = "==19.0.0"
idna = "==2.8"
importlib-metadata = "==1.5.0"
incremental = "==16.10.1"
jinja2 = "==2.10.1"
jsonpatch = "==1.22"
jsonpointer = "==2.0"
jsonschema = "==3.2.0"
keyring = "==18.0.1"
korean-lunar-calendar = "==0.3.1"
language-selector = "==0.1"
launchpadlib = "==1.10.13"
"lazr.restfulclient" = "==0.14.2"
"lazr.uri" = "==1.0.3"
lxml = "==4.9.3"
markupsafe = "==1.1.0"
more-itertools = "==4.2.0"
multitasking = "==0.0.11"
mysql-connector-python = "==8.2.0"
netifaces = "==0.10.4"
numpy = "==1.24.4"
oauthlib = "==3.1.0"
pandas = "==1.5.3"
pandas-market-calendars = "==4.3.1"
peewee = "==3.17.0"
pexpect = "==4.6.0"
pipreqs = "==0.4.13"
protobuf = "==4.21.12"
pyasn1 = "==0.4.2"
pyasn1-modules = "==0.2.1"
pygobject = "==3.36.0"
pyhamcrest = "==1.9.0"
pyjwt = "==1.7.1"
pyluach = "==2.2.0"
pymacaroons = "==0.13.0"
pymysql = "==1.1.0"
pynacl = "==1.3.0"
pyopenssl = "==19.0.0"
pyparted = "==3.11.2"
pyrsistent = "==0.15.5"
pyserial = "==3.4"
python-apt = "==2.0.1+ubuntu0.20.4.1"
python-dateutil = "==2.8.2"
python-debian = "==0.1.36+ubuntu1.1"
python-dotenv = "==1.0.0"
pytz = "==2022.7.1"
pyyaml = "==5.3.1"
requests = "==2.31.0"
requests-unixsocket = "==0.2.0"
scipy = "==1.10.1"
secretstorage = "==2.3.1"
service-identity = "==18.1.0"
simplejson = "==3.16.0"
six = "==1.14.0"
sos = "==4.5.6"
soupsieve = "==2.5"
sqlalchemy = "==1.4.50"
ssh-import-id = "==5.10"
systemd-python = "==234"
toolz = "==0.12.0"
twisted = "==18.9.0"
tzdata = "==2023.3"
ubuntu-advantage-tools = "==8001"
ufw = "==0.36"
unattended-upgrades = "==0.1"
urllib3 = "==1.25.8"
wadllib = "==1.3.3"
walinuxagent = "==2.2.46"
webencodings = "==0.5.1"
yarg = "==0.1.9"
yfinance = "==0.2.30"
zipp = "==1.0.0"
"zope.interface" = "==4.7.1"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
